{{template "base" .}}

{{define "content"}}
<style>
    .custom-form-group {
        margin-bottom: 10px; /* Adjust the margin to your preference */
    }
</style>
<div class="container mt-5">
    <h1 class="mb-4">Add New Customer</h1>
</div>
{{$res := index .Data "Customer"}}
<form method="post" action="/customer/add" enctype="multipart/form-data" class="needs-validation" novalidate>
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
    <input type="hidden" name="status" value="Entered">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 custom-form-group">
                    <label for="customerCode" class="form-label">Customer Code</label>
                    {{with .Form.Errors.Get "customerCode"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="text" name="customerCode" class="form-control {{with .Form.Errors.Get "customerCode"}} is-invalid {{end}}" id="customerCode" required>
                </div>
                <div class="mb-3 custom-form-group">
                    <label for="customerName" class="form-label">Name of the Customer</label>
                    {{with .Form.Errors.Get "customerName"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="text" name="customerName" class="form-control {{with .Form.Errors.Get "customerName"}} is-invalid {{end}}" id="customerName" required>
                </div>
                <div class="mb-3 custom-form-group">
                    <label for="contactNo" class="form-label">Contact No</label>
                    {{with .Form.Errors.Get "contactNo"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="tel" name="contactNo" class="form-control {{with .Form.Errors.Get "contactNo"}} is-invalid {{end}}" id="contactNo" required>
                </div>
                <div class="mb-3 custom-form-group">
                    <label for="contactPerson" class="form-label">Contact Person</label>
                    {{with .Form.Errors.Get "contactPerson"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="text" name="contactPerson" class="form-control {{with .Form.Errors.Get "contactPerson"}} is-invalid {{end}}" id="contactPerson">
                </div>
                <div class="mb-3 custom-form-group">
                    <label for="mobileNo" class="form-label">Mobile No</label>
                    {{with .Form.Errors.Get "mobileNo"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="tel" name="mobileNo" class="form-control {{with .Form.Errors.Get "mobileNo"}} is-invalid {{end}}" id="mobileNo" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3 custom-form-group">
                    <label for="businessName" class="form-label">Business Name</label>
                    {{with .Form.Errors.Get "businessName"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="text" name="businessName" class="form-control {{with .Form.Errors.Get "businessName"}} is-invalid {{end}}" id="businessName">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{with .Form.Errors.Get "email"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <input type="email" name="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" id="email">
                </div>
                <div class="mb-3">
                    <label for="locationDetails" class="form-label">Location Details</label>
                    <input type="text" name="locationDetails" class="form-control" id="locationDetails">
                </div>
                <div class="mb-3">
                    <label for="natureOfBusiness" class="form-label">Nature of Business</label>
                    {{with .Form.Errors.Get "natureOfBusiness"}}
                    <div class="text-danger">{{.}}</div>
                    {{end}}
                    <textarea name="natureOfBusiness" class="form-control {{with .Form.Errors.Get "natureOfBusiness"}} is-invalid {{end}}" id="natureOfBusiness" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="marketedBy" class="form-label">Marketed by</label>
                    <input type="text" name="marketedBy" class="form-control" id="marketedBy">
                </div>
                <div class="mb-3">
                    <label for="marketerName" class="form-label">Marketer Name</label>
                    <input type="text" name="marketerName" class="form-control" id="marketerName">
                </div>
                <div class="mb-3">
                    <label for="marketerEmail" class="form-label">Marketer Email</label>
                    <input type="email" name="marketerEmail" class="form-control" id="marketerEmail">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="photos" class="form-label">Photos (Drag and Drop)</label>
                    <div id="drop-zone" class="form-control custom-file">
                        <p class="text-center">Drag and drop files here, or click to select files.</p>
                        <input type="file" name="photos" multiple class="custom-file-input" id="photos" onchange="displaySelectedFiles(this)">
                        <label class="custom-file-label" for="photos">Choose file(s)</label>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" id="cancel" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</form>
<script>
    function displaySelectedFiles(input) {
        var label = input.nextElementSibling;
        var fileNames = Array.from(input.files).map(file => file.name);
        label.innerHTML = fileNames.join(', ');
    }
    // Validate "photos" file input
    document.querySelector('form').addEventListener('submit', function(event) {
        var photosInput = document.querySelector('input[name="photos"]');
        if (photosInput && photosInput.files.length === 0) {
            event.preventDefault();
            alert('Please select at least one photo.');
        }
    });
    // Validate Mobile No using regex
    document.querySelector('input[name="mobileNo"]').addEventListener('blur', function() {
        var mobileNoInput = this;
        var mobileNoValue = mobileNoInput.value;
        var mobileNoRegex = /^(?:\+971|00971|0)(?!3|8)((?:2|3|4|5|6|7|9|50|51|52|55|56)[0-9]{7,})$/;
        if (!mobileNoRegex.test(mobileNoValue)) {
            mobileNoInput.setCustomValidity('Please enter a valid UAE mobile number.');
        } else {
            mobileNoInput.setCustomValidity('');
        }
    });
    
    // Validate Contact No using regex
    document.querySelector('input[name="contactNo"]').addEventListener('blur', function() {
        var contactNoInput = this;
        var contactNoValue = contactNoInput.value;
        var contactNoRegex = /^(?:\+971|00971|0)(?!3|8)((?:2|3|4|5|6|7|9|50|51|52|55|56)[0-9]{7,})$/;
        if (!contactNoRegex.test(contactNoValue)) {
            contactNoInput.setCustomValidity('Please enter a valid UAE contact number.');
        } else {
            contactNoInput.setCustomValidity('');
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        // Your JavaScript code here, including the "Cancel" button event listener.
        document.getElementById("cancel").addEventListener("click", function() {
            window.history.back();
        });
    });
</script>
{{end}}
