{{template "base" .}}

{{define "content"}}
    <div class="container mt-5">
        <h1 class="mb-4">Add New Partner</h1>
    </div>
    {{$res := index .Data "partners"}}
    <form method="post" action="" enctype="multipart/form-data" class="" novalidate>
        <input type='hidden' name='csrf_token' value="{{.CSRFToken}}">
        <input type='hidden' name='status' value="Entered">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ShareHolderName">Shareholder Name</label>
                        <input type="text" name='ShareHolderName' class="form-control" id="ShareHolderName" required>
                    </div>
                    <div class="form-group">
                        <label for="ShEmirateID">Emirate ID</label>
                        <input type="text" name='ShEmirateID' class="form-control" id="ShEmirateID" required>
                    </div>
                    <div class="form-group">
                        <label for="ShEmIDExp">Emirate ID Expiry Date</label>
                        <input type="date" name='ShEmIDExp' class="form-control" id="ShEmIDExp">
                    </div>
                    <div class="form-group">
                        <label for="ShIDFilepath">Upload Emirate ID</label>
                        <input type="file" name='ShIDFilepath' class="custom-file-input" id="ShIDFilepath">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ShPassport">Passport</label>
                        <input type="text" name='ShPassport' class "form-control" id="ShPassport">
                    </div>
                    <div class="form-group">
                        <label for="ShPassportExp">Passport Expiry Date</label>
                        <input type="date" name='ShPassportExp' class="form-control" id="ShPassportExp">
                    </div>
                    <div class="form-group">
                        <label for="ShPassFilepath">Upload Passport</label>
                        <input type="file" name='ShPassFilepath' class="custom-file-input" id="ShPassFilepath">
                    </div>
                </div>
            </div>
            <!-- New Fields -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="RepresentativeName">Representative Name</label>
                        <input type="text" name='RepresentativeName' class="form-control" id="RepresentativeName" required>
                    </div>
                    <div class="form-group">
                        <label for="RepNoOfShares">Number of Shares</label>
                        <input type="number" name='RepNoOfShares' class="form-control" id="RepNoOfShares" required>
                    </div>
                    <div class="form-group">
                        <label for="RepEmID">Representative Emirate ID</label>
                        <input type="text" name='RepEmID' class="form-control" id="RepEmID" required>
                    </div>
                    <div class="form-group">
                        <label for="RepEmIDExp">Representative Emirate ID Expiry Date</label>
                        <input type="date" name='RepEmIDExp' class="form-control" id="RepEmIDExp">
                    </div>
                    <div class="form-group">
                        <label for="RepIDFilepath">Upload Representative Emirate ID</label>
                        <input type="file" name='RepIDFilepath' class="custom-file-input" id="RepIDFilepath">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="RepPassport">Representative Passport</label>
                        <input type="text" name='RepPassport' class="form-control" id="RepPassport">
                    </div>
                    <div class="form-group">
                        <label for="RepPassportExp">Representative Passport Expiry Date</label>
                        <input type="date" name='RepPassportExp' class="form-control" id="RepPassportExp">
                    </div>
                    <div class="form-group">
                        <label for="RepPassFilepath">Upload Representative Passport</label>
                        <input type="file" name='RepPassFilepath' class="custom-file-input" id="RepPassFilepath">
                    </div>
                </div>
            </div>
            <!-- End of New Fields -->
            <br/>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" id="cancel" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </form>
    <script>
        function displaySelectedFiles(input) {
            var label = input.nextElementSibling;
            var fileNames = Array.from(input.files).map(file => file.name);
            label.innerHTML = fileNames.join(', ');
        }
    </script>
{{end}}
