{{template "base" .}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>404 Data Not Found</h1>
                <p>Sorry, the requested data could not be found.</p>
            </div>
        </div>
    </div>
{{end}}
