{{template "base" .}}


{{define "content"}}
<div class="container">
  <div class="row">
   <div class="col">
      <h1>Welcome to my home page</h1>
      <p>this is my home page. welcome</p>
   </div>
  </div>
</div>
{{end}}